/* ================================= 
  Base Element Styles
==================================== */
@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}


/* ---- Font Styles ---- */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	line-height: 1;
	font-weight: 300;
}

.title {
	font-size: 15px;
	color: #fff;
}

.name {
	font-size: 12px;
	color: #fff;
}

.dashboard-title {
	font-size: 20px;
}

h3 {
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Header ---- */
header {
	background-color: #7477bf;
}

.title{
	padding: 12px 10px;
}


.main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.name-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.name {
	display: none;
}

#alert-dot {
	height: 8px;
	width: 8px;
	position: relative;
	top: -16px;
	right: 5px;
}
.profile-photo {
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
    align-self: center;
}

#alert, #line {
	align-self: center;
}

#alert {
	cursor: pointer;
}
/* ---- Navigation ---- */


.flex {
	display: flex;
	flex-direction: row;
}

.nav {
	flex-direction: column;
	justify-content: space-between;
	background-color: #4d4c72;
	list-style: none;
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

img {
	width: 30px;
	height: 30px;
}

.nav li {
	padding: 10px;
}


nav img {
	width: 20px;
	height: 20px;
}


/* ---- Layout Containers ---- */

/*pop-up alerts*/

.alert,
.new-alert {
	background-color: #7377bf;
	color: white;
	display: block;
	margin: 15px;
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
}

.exit, .new-exit {
	cursor: pointer;
	font-weight: 700;
	float: right;
}

.highlight {
	font-weight: 700;
}

/*top section*/
.search {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.dashboard-title {
	text-align: center;
	margin: 25px;
}

.search {
	flex-grow: 2;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	background: #fbfbfb;
}

input {
	font-size: 12px;
	padding: 12px 2px;
	border-radius: 5px;
	margin: 12px 50px;
	align-self: flex-end;
	border: 2px solid #dfdfdf;
	width: 90%;
}

.fa {
	position: relative;
	align-self: center;
	right: 73px;
	opacity: .5;
}

/*traffic middle section*/

.main-content {
	display: flex;
	flex-flow: row wrap;
}

.traffic, .daily-traffic, .mobile-traffic, .alert, .new-alert, .search, .dashboard {
	flex: 1 100%;
}

/*traffic*/

canvas {
	width: 100% !important;
	height: auto !important;
	  max-height: 275px;
}

.traffic-nav-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.traffic-nav {
	align-self: center;
}
.traffic-nav li {
	display: inline-block;
	flex-direction: row-reverse;
	margin: 10px 5px;
}

.traffic-nav li a{
	text-decoration: none;
	color: #b6b6b6;
	padding: 5px 10px;
}

#selected {
	color: #fff;
	background-color: #81c98f;
	border-radius: 45%;

}
.traffic, .daily-traffic, .mobile-traffic {
  width: 80%;
  margin: 0px auto 10px;
  padding: 0 20px;
}


/* ================================= 
Media Queries
==================================== */
@media (min-width: 768px) {

/* ---- Navigation ---- */
.nav li {
	padding: 30px;
}  

nav img {
	width: 30px;
	height: 30px;
}

/*Header*/

.title{
	padding: 25px 10px;
}

.name {
	padding: 28px 10px;
}

.title, .name {
	margin: 0;
	display: inline-block;
}

#alert, .profile-photo {
	width: 30px;
	height: 30px;
}

/* ---- Top Containers ---- */
.top-section, .dashboard-title, .search {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.search {
	flex-grow: 2;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	background: #fbfbfb;
}

input {
	font-size: 12px;
	padding: 12px 2px;
	border-radius: 5px;
	margin: 12px 50px;
	align-self: flex-end;
	border: 2px solid #dfdfdf;
	width: 33%;
}

/*Pop-up Alerts*/
.alert,
.new-alert {
	font-size: 15px;
}

/* ---- Layout Containers ---- */
.daily-traffic, .mobile-traffic, .new-members, .settings, .message-user, .recent-activity, .search, .dashboard {
  	flex: 1 49%; 
  }

}

@media (min-width: 1024px) {
  /* We tell both sidebars to share a row */
}
