canvas {
	width: 100% !important;
	height: auto !important;
	max-height: 275px;
}

.traffic-nav-flex {
	@extend %flex-column;

	@media #{$brk-narrow} {
		flex-direction: row;
		justify-content: space-between;
	}
}

.traffic-nav {
	align-self: center;
}
.traffic-nav li {
	display: inline-block;
	flex-direction: row-reverse;
	margin: 10px 5px;
}

.traffic-nav li a{
	padding: 5px 10px;
}

#selected {
	background-color: #81c98f;
	border-radius: 45%;
}

.traffic, .daily-traffic, .mobile-traffic {
  width: 80%;
  margin: 0px auto 10px;
  padding: 10px 20px;
}

.daily-traffic, .mobile-traffic {
	width: 80%;

	@media #{$brk-narrow} {
		width: 50%;
	}
}

.flex-mobile-box {
	@extend %flex-column;
	justify-content: flex-start;

	@media #{$brk-wide} {
		flex-direction: row;
	}
}


#legend {
	margin-left: -100px;
	align-self: center;
}

.doughnut-legend {
    list-style: none; 
    position: relative;
    display: inline-block;

    li {
		margin: 2px;
		span {
		    width: 1em;
		    height: 1em;
		    display: inline-block;
		    border-radius: 15%;
		    margin-right: 1px;
		}
	}
}

.mobile-traffic, .daily-traffic {
	@extend %bottom-border;

	@media #{$brk-narrow} {
		border-top: solid 1px $light-gray;
	}
}

.daily-traffic {
	@media #{$brk-narrow} {
		border-right: solid 1px $light-gray;
	}
}

