@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

header {
	background-color: $light-purple;
}


.title {
	padding: 12px 10px;

	@media #{$brk-narrow} {
		padding: 25px 10px;
		margin: 0;
		display: inline-block;
	}

}

.main-header {
	position: relative;
}

.main-header, .name-group {
	@extend %flex-spaced-between; 
}

.name {
	display: none;

	@media #{$brk-narrow} {
			padding: 28px 10px;
			margin: 0;
			display: inline-block;
	}
}

#alert-dot {
	height: 8px;
	width: 8px;
	position: relative;
	top: -16px;
	right: 5px;
}
.profile-photo {
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    align-self: center;

    @media #{$brk-narrow} {
    	width: 30px;
		height: 30px;
    }
}

#alert, #line {
	align-self: center;
}

#alert {
	cursor: pointer;
	width: 20px;
	height: 20px;
	@media #{$brk-narrow} {
		width: 30px;
		height: 30px;
	}
}

/*pop-up alerts*/

.name-group {
	position: relative;
}

.dropdown {
position: absolute;	
  padding: .5em 1em;
  background: #777;
  border-radius: .2em .2em 0 0;
  z-index: 1000000000000000;
}
ul.dropdown  {
  margin-top: .5em;
  background: $dark-purple;
  color: $white;
  font-size: $small-font;
  min-width: 50px;
  border-radius: 0 0 5px 5px;
    li {
      list-style-type: none;
      @extend %bottom-border;
      padding: 10px; 
   }
}


.alert {
	background-color: $light-purple;
	display: block;
	margin: 15px;
	padding: 10px;
	@extend %curved-edges;
}

.exit {
	cursor: pointer;
	float: right;
}

.top-section {
	@media #{$brk-narrow} {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
}

.search {
	@extend %flex-row;
	justify-content: flex-end;

	@media #{$brk-narrow} {
		flex-grow: 2;
		border-bottom: 1px solid $light-gray;
		border-left: 1px solid $light-gray;
		background: $almost-white;
	}
}

.dashboard-title {
	text-align: center;
	margin: 25px;

	@media #{$brk-narrow} {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
}

.search {
	//flex-grow: 2;
	border-bottom: 1px solid $light-gray;
	border-left: 1px solid $light-gray;
	background: $almost-white;
}

#search_input {
	padding: 12px 2px;
	@extend %curved-edges;
	margin: 12px 50px;
	align-self: flex-end;
	border: 2px solid $light-gray;
	width: 90%;

	@media #{$brk-narrow} {
		width: 33%;
	}
}

.fa {
	position: relative;
	align-self: center;
	right: 73px;
	opacity: .5;
}
/* ---- Navigation ---- */


.flex {

@extend %flex-column;

	@media #{$brk-narrow} {
		display: flex;
		flex-direction: row;
	}
}

.nav {
	background-color: $dark-purple;
	list-style: none;

	a {
		color: $white;
		text-decoration: none;
	}

	img {
		display: none;
	}

	li {
		padding: 20px;
		text-align: center;
		border-bottom: 1px solid $white;
		text-transform: uppercase;
	}

	@media #{$brk-narrow} {
			justify-content: space-between;

			li {
				position: relative;
				padding: 30px;
				border: none;
			}

			li#menu-page-selected:after {
			content: " ";
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: -101%;
			border-right: solid 5px $light-green;
			border-radius: 5px;
			}

			img {
					display: block;
					width: 30px;
					height: 30px;	
			}

			ul {
			overflow: hidden;
			}
	}
}

.mobile-menu {

	display: block; 

	@media #{$brk-narrow} {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
}

img {
	width: 30px;
	height: 30px;
}

.menu-btn {
	margin: 3px 3px 3px 5px;
	@media #{$brk-narrow} {
		display: none;
	}
}

.menu-btn div {
 padding-right: 8px;
 margin-top: 1em;
 line-height: 1.2;
 font-size: 18px;
 font-weight: 200;
 align-self: center;
 z-index: 99;
}
 
.menu-btn span {
 display: block;
 width: 19px;
 height: 3px;
 margin: 4px 0;
 background: $white;
 z-index: 99;
}
 
.nav{
 display: none;
}
 
.expand {
 display: block !important; 
}

.mobile-nav {
	display: flex;
}

.menu-wrap {
	display: flex;
	flex-direction: row;
}