// Font Sizes //
$small-font: 12px;
$medium-font: 15px;
$large-font: 20px;

// Fonts //
$light-font: 300;
$heavy-font: 700;
$font-family: 'Open Sans', sans-serif;

// Colors //
$white: #fff;
$light-purple: #7477BF;
$medium-gray: #b6b6b6;
$light-gray: #dfdfdf;
$almost-white: #fbfbfb;
$light-green: #85db80;
$dark-purple: #4d4c72;


//Media Queries // 
$brk-narrow : '(min-width: 768px)';
$brk-wide   : '(min-width: 1024px)';